@model IndexViewModel
@{
    var end = Model.Cursor + 9;
    var pageNumber = 2;
}
@for (var i = Model.Cursor; i < end; i++)
{
    <tr @if (i == end-1)
        {
            <text>
                hx-get="@Url.ActionLink("Index", "Home", new {cursor = end+1, page = (end / 10)+1})"
                hx-trigger="revealed"
                hx-swap="afterend"
            </text>
        }>
        <td>@Extensions.Persons[i].Passport</td>
        <td>@Extensions.Persons[i].Name</td>
        <td>@Extensions.Persons[i].City</td>
        <td>@Extensions.Persons[i].Street</td>
        <td>@Extensions.Persons[i].Phone</td>
    </tr>
}
